{% extends "base.html.twig" %}

{% block content %}

<div class="flex-detail-annonce">
    <div class="detail-annonce">
        <h2>{{annonce.ann_titre}}</h2>
        <p><img src="{{annonce.ann_image_url}}" class="photo-annonce" alt="photo de l'annonce indisponible"></p>
        <p>{{annonce.cat_libelle}} <br>
            {{annonce.ann_description}} <br>
            {{annonce.ann_prix}} €<br>
            {{annonce.ann_date_ecriture}}</p>
        <h3>Contacter l'annonceur</h3>
        <p>{{annonce.usr_nom}} {{annonce.usr_prenom}} <br>
            {{annonce.usr_courriel}} <br>
            {{annonce.usr_telephone}}</p>
    </div>
    <div class="div-pdf">
        <p class="add"><a href="http://popy/"><i class="fas fa-undo-alt"></i></a></p>
        <h3>Enregister l'annonce :</h3>
        <p>Cliquez ci-dessous pour enregistrer l'annnoce au format pdf
        <br><a id="pdf" href="/download-pdf?ann_unique_id={{ annonce.ann_unique_id }}"  class="add"><i class="fas fa-file-download"></i></a></p>
    </div>
</div>



{% endblock content %}