{% extends "base.html.twig" %}

{% block content %}

<h2>{{annonce.ann_titre}}</h2>
<p><img src="{{annonce.ann_image_url}}" alt=""></p>
<p>{{annonce.categorie}}</p>
<p>{{annonce.ann_description}}</p>
<p>{{annonce.ann_prix}}</p>
<p>{{annonce.ann_date_ecriture}}</p>
<h3>Contacter l'annonceur</h3>
<p>{{annonce.usr_nom}}</p>
<p>{{annonce.usr_prenom}}</p>
<p>{{annonce.usr_courriel}}</p>
<p>{{annonce.usr_telephone}}</p>



{% endblock content %}