{% extends "base.html.twig" %}

{% block content %}

<div class="flex-detail-annonce">
    <div class="detail-annonce">
        <h2>{{annonce.ann_titre}}</h2>
        <p><img src="{{annonce.ann_image_url}}" class="photo-annonce" alt="photo de l'annonce"></p>
        <p>{{annonce.cat_libelle}} <br>
            {{annonce.ann_description}} <br>
            {{annonce.ann_prix}} €<br>
            {{annonce.ann_date_ecriture}}</p>
        <h3>Contacter l'annonceur</h3>
        <p>{{annonce.usr_nom}} {{annonce.usr_prenom}} <br>
            {{annonce.usr_courriel}} <br>
            {{annonce.usr_telephone}}</p>
    </div>
    <div class="div-pdf">
        <h3>Enregister l'annonce :</h3>
        <p>Cliquez ci-dessous sur Popy pour enregistrer l'annnce au format pdf
        <br><a href="#"><img src="../../public/media/logo/back-popy.png" alt="popy enregistre moi l'annonce pdf stp"></a></p>
    </div>
</div>



{% endblock content %}