<div class="detail-annonce">
    <h2>{{annonce.ann_titre}}</h2>
    <p><img src="{{annonce.ann_image_url}}" class="photo-annonce" alt="photo de l'annonce"></p>
    <p>{{annonce.cat_libelle}} <br>
        {{annonce.ann_description}} <br>
        {{annonce.ann_prix}} €<br>
        {{annonce.ann_date_ecriture}}</p>
    <h3>Contacter l'annonceur</h3>
    <p>{{annonce.usr_nom}} {{annonce.usr_prenom}} <br>
        {{annonce.usr_courriel}} <br>
        {{annonce.usr_telephone}}</p>
</div>