{% extends "base.html.twig" %}

{% block content %}
<div id="formValidation">
    <h2>Validez votre annonce</h2>
    <p>Voici l'annonce que vous nous avez envoyés, vous pouvez vérifier les différents champs puis  valider l'annonce qui sera alors publiée.</p>
    <form method="POST">
    <div class="form-group">
            <label for="exampleFormControlInput1">Titre</label>
            <input name="ann_titre" type="text" class="form-control" id="exampleFormControlInput1" value="{{ annonce.ann_titre }}" required>
            <div class="invalid-feedback">
                    Veuillez entrer un titre
            </div>
    </div>
    <div class="form-group">
            <label for="">Catégorie</label>
            <select name="cat_libelle" class="form-control" id="exampleFormControlSelect1" value="{{ annonce.cat_libelle }}" required>
                {% for element in categorie %}
                        {% if element == annonce.cat_libelle %}
                                <option selected>{{ element }}</option>
                        {% else %}
                                <option>{{ element }}</option>
                        {% endif %}
                {% endfor %}        
            </select>
            <div class="invalid-feedback">
                    Veuillez entrer une catégorie
            </div>
    </div>
    <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea name="ann_description" class="form-control" id="exampleFormControlTextarea1" value="{{ annonce.ann_description }}" rows="3" required>{{ annonce.ann_description }}</textarea>
            <div class="invalid-feedback">
                    Veuillez entrer une description
            </div>
    </div>
        <div class="form-group">
            <label for="">Prix</label>
            <input name="ann_prix" type="text" class="form-control" id="exampleFormControlInput1" value="{{ annonce.ann_prix }}">
        </div>
    <div class="form-group">
            <label for="">Votre nom</label>
            <input name="usr_nom" type="text" class="form-control" id="exampleFormControlInput1" value="{{ annonce.usr_nom }}" required>
            <div class="invalid-feedback">
                    Veuillez entrer un nom
            </div>
    </div>
    <div class="form-group">
            <label for="">Votre prénom</label>
            <input name="usr_prenom" type="text" class="form-control" id="exampleFormControlInput1" value="{{ annonce.usr_prenom }}" required>
            <div class="invalid-feedback">
                    Veuillez entrer un prénom
            </div>
    </div>
    <div class="form-group">
            <label for="">Votre courriel</label>
            <input name="usr_courriel" type="email" class="form-control" id="exampleFormControlInput1" value="{{ annonce.usr_courriel }}" required>
            <div class="invalid-feedback">
                    Veuillez entrer un courriel
            </div>
    </div>
    <div class="form-group">
            <label for="">Votre numéro de téléphone</label>
            <input name="usr_telephone" type="text" class="form-control" id="exampleFormControlInput1" value="{{ annonce.usr_telephone }}" required>
            <div class="invalid-feedback">
                    Veuillez entrer un numéro de téléphone
            </div>
    </div>
    <div class="form-group">
            <label for="">{{ annonce.ann_image_url }}</label>
            <input name="ann_image_url" type="file" class="form-control" id="exampleFormControlInput1" value="{{ annonce.ann_image_url }}">
    </div>
       
    <button id="valider" class="btn btn-secondary btn-lg btn-block">Confirmer</button>
    </form>
</div>
<div id="modal" class="hidden">
        <div id="modal_dialogue">
        <div class="btn btn-lg" id="btnModal"></div>
        </div>
</div>

{% endblock %}

{% block javascripts %}
        <script src="js/valider.js"></script>
{% endblock javascripts %}